<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Paginated Blog Post</title>
    <style>
        .pagination{
            display: flex;
            justify-content: space-around;
            color: black;
            list-style: none;
        }
        .page-item{
            text-decoration: none;
        }
    </style>
</head>
<body>

<h1>Paginated Blog Posts</h1>

<a href="/api/v1/createPost">Make a post</a>


<form th:action="@{'/api/v1/search/paginated'}" method="get">
    <label>
        <input type="text" name="keyword" placeholder="Search post by title" required>
    </label>
    <button type="submit">Search</button>
</form>



<div th:each="blogPost : ${blogPosts}">
    <h2 th:text="${blogPost.title}"></h2>
    <p th:text="${blogPost.content}"></p>
    <ul>
        <li th:each="comment : ${blogPost.comments}">
            <span th:text="${comment.content}"></span>
        </li>
    </ul>
    <a th:href="@{'/api/v1/posts/' + ${blogPost.id}}">
        <button>Add comment</button>
    </a>
</div>

<footer>

    <nav aria-label="Page navigation example">
        Total Post [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]

        <ul class="pagination" style="flex: inherit">
            <li class="page-item">
                <a  class="page-link" th:if="${currentPage > 1}" th:href="@{/api/v1/paginated/page/1}">First</a>
                <span th:unless="${currentPage > 1}">First</span>
            </li>

            <li class="page-item">
                <a th:if="${currentPage > 1}" th:href="@{'/api/v1/paginated/page/' + ${currentPage - 1}}">Previous</a>
                <span th:unless="${currentPage > 1}">Previous</span>
            </li>

            <li class="page-item">
                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
        <a th:if="${i != currentPage}" th:href="@{'/api/v1/paginated/page/' + ${i}}">[[${i}]]</a>
        <span th:unless="${i != currentPage}">[[${i}]]</span>
</span>
            </li>

            <li class="page-item">

                <a th:if="${currentPage < totalPages}" th:href="@{'/api/v1/paginated/page/' + ${currentPage + 1}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </li>

            <li class="page-item">
                <a th:if="${currentPage < totalPages}" th:href="@{'/api/v1/paginated/page/' + ${totalPages}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>

            </li>
        </ul>
    </nav>





<!--    Total Items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]-->
<!--    &nbsp; &nbsp; - &nbsp;-->
<!--    <span th:each="i: ${#numbers.sequence(1, totalPages)}">-->
<!--        <a th:href="@{'/api/v1/paginated/page/' + ${i}}">[[${i}]]</a>-->
<!--        &nbsp; &nbsp;-->
<!--    </span>-->

</footer>



<!--<div th:each="blogPost : ${page.content}">-->
<!--  <h2 th:text="${blogPost.title}"></h2>-->
<!--  <p th:text="${blogPost.content}"></p>-->
<!--  <ul>-->
<!--    <li th:each="comment : ${blogPost.comments}">-->
<!--      <span th:text="${comment.content}"></span>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->

<!--<nav aria-label="Page navigation">-->
<!--    <ul class="pagination">-->
<!--        <li th:if="${page.number > 0}">-->
<!--            <a th:href="@{'/api/v1/paginated?page=' + (page.number - 1)}" aria-label="Previous">-->
<!--                <span aria-hidden="true">Previous</span>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}" th:class="${page.number == i} ? 'active' : ''">-->
<!--            <a th:href="@{'/api/v1/paginated?page=' + i}" th:text="${i + 1}"></a>-->
<!--        </li>-->
<!--        <li th:if="${page.number < page.totalPages - 1}">-->
<!--            <a th:href="@{'/api/v1/paginated?page=' + (page.number + 1)}" aria-label="Next">-->
<!--                <span aria-hidden="true">Next</span>-->
<!--            </a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</nav>-->

</body>
</html>